@font-face{
    font-family: 'Figtree';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --gray500: #6b6b6b;
    --gray950: #121212;
    --yellow: #f4d04e;
}

img, picture, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.attribution {
    font-size: 11px;
    text-align: center;
    a{
        color: hsl(228, 45%, 44%);
    }
}

/* Main content */
body,html{
    font-family: 'Figtree', sans-serif;
    background: var(--yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: #fff;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 6px 8px 0 #000;
    display: flex;
    flex-direction: column;
}

.card-design{
    border-radius: 10px;
    margin-bottom: 1.5rem;
    max-width: 350px;
    width: 100%;
}

.card-category{
    font-weight: 800; 
    color: var(--gray950);
    background: var(--yellow);
    width: fit-content;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.8rem;
}

.card-title{
    color: var(--gray950);
    font-size: 1.6rem;
    font-weight: 800;
    margin: 1rem 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:active{
        color: var(--yellow);
    }
}

.card-date{
    color: var(--gray950);
    font-weight: 500;
    font-size: 0.9rem;
}

.card-description{
    color: var(--gray500);
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.author-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-avatar{
    width: 32px;
}

.author-name{
    color: var(--gray950);
    font-weight: 800;
    font-size: 0.9rem
}

@media(max-width: 481px){
    .card{
        max-width: 350px;
        width: 90%;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px){
    .card{
        max-width: 600px;
        width: 90%;
        height: 300px;
    }
    .card-design{
        display: none;
    }
}